<h2 class="title">Hard y Soft Skills</h2>

<div class="row">

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'PHP'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'JS'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'HTML'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'CSS'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'Android'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'MySql'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'Oracle'">
        </circle-progress>
    </div>

    <div class="text-center col-3">
        <circle-progress [percent]="85" [radius]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="8"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#63aaf7'" [innerStrokeColor]="'#c7e3ff'" [animation]="true"
            [animationDuration]="2000" [title]="'SqlServer'">
        </circle-progress>
    </div>

</div>

<div class="container px-4 py-5" id="featured-3">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">


        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>Firebase</h2>
            <p>Manejo de Apis Google.</p>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>Nagios</h2>
            <p>Monitoreo de Infraestructura.</p>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>Apex</h2>
            <p>Manejo de interfase.</p>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>Kali</h2>
            <p>Seguridad informática.</p>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>ESET</h2>
            <p>Monitoreo y Seguridad informática.</p>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"> </svg>
            </div>
            <h2>AFIP</h2>
            <p>Facturación Electrónica.</p>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-2">&nbsp;</div>
    
    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Capacidad de adaptación</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>

    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Habilidades comunicativas</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Habilidades organizativas</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>

    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Trabajo en equipo</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>
    
    
</div>

<div class="row">
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Proactividad</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>    

    <div class="col-lg-4">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
        
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Creatividad</strong>
                    </div>                    
                </div>
            </div>    
        </div>
    </div>    
</div>
