<div class="row">
    <h3> Proyectos Realizados</h3>    
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Sistema de Control de Stock</h4>
        </div>
        <div class="card-body">
            <p>Sistema Web desarrollado con las tecnologias PHP, Bootstrap, MySql 
                para el control de articulos en multiples depositos </p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sistema Medico</h4>
          </div>
          <div class="card-body">
              <p>Sistema Web desarrollado con las tecnologias PHP, Bootstrap, MySql, encapsulado Android 
                para fichas medicas de pacientes, seguimiento, turnos online </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sistema Camioneros</h4>
          </div>
          <div class="card-body">
              <p>Sistema Web desarrollado con las tecnologias PHP, Bootstrap, MySql, encapsulado Android 
                para seguimiento y logistica de carga de camiones, geolocalizacion, control de estado de los camiones</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sistema de Compras</h4>
          </div>
          <div class="card-body">
              <p>Sistema Web desarrollado con las tecnologias PHP, Bootstrap, MySql 
                para seguimiento y autorizaciones  de compras </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sistema de Ordenes de Servicio</h4>
          </div>
          <div class="card-body">
              <p>Sistema Web desarrollado con las tecnologias PHP, Bootstrap, Oracle 
                para manejo de tickets de ordenes de trabajo - servicios  </p>
          </div>
        </div>
      </div>


  </div>