<div class="row">
    <h1> Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-8 parte1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nostrum nobis ipsum quae totam nulla aliquid quos facere adipisci, voluptatibus magnam quis fugiat perspiciatis deleniti provident amet possimus ut cum.</p>
        </div>
        <div class="col-sm-12 col-md-1 offset-md-1 parte2">
            <img src="../../../assets/fotoPerfil.jpg" class="img-fluid img-proyecto">
        </div>
    </div>

</div>
