<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="col-xs-12">
            <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="foto">
        </div>
    
        <div class="col-xs-12">
            <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
            <p>Programador Web Full Stack</p>
        </div>    
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca De Mi</h3>
            <p>Hola. Soy David, vivo en Tucumán. </p>
            <p>
Soy Tecnico Supuperior en Desarrollo de Software, toda mi vida laboral estuvo relacionada a la tecnología, como experiencias mas relevantes relacionadas a este curso podría contar que trabaje 5 años en una empresa como desarrollador y tambien trabaje en el Ingenio La Florida como encargado de seguridad Informática.
Me gusta trabajar en equipo y siempre buscando nuevos proyectos y desafios.
Mi hobby son las Artes Marciales las cuales practico desde hace mas de 25 años. Saludos.- 
            </p>
        </span>
    </div>
</div>