<div class="row">

    <h1>Experiencia Laboral</h1>

    <div class="col-lg-8 ">
        <ul>
            <li>
                <h1> Trabajo 1</h1>
                <h3> Años</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea temporibus iure veniam a similique sed, iste omnis eius suscipit sit ratione, in illo animi molestiae eum, mollitia delectus? Facere?
                </p>
            </li>
            <li>
                <h1> Trabajo 2</h1>
                <h3> Años</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea temporibus iure veniam a similique sed, iste omnis eius suscipit sit ratione, in illo animi molestiae eum, mollitia delectus? Facere?
                </p>
            </li>
            <li>
                <h1> Trabajo 3</h1>
                <h3> Años</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea temporibus iure veniam a similique sed, iste omnis eius suscipit sit ratione, in illo animi molestiae eum, mollitia delectus? Facere?
                </p>
            </li>
        </ul>

    </div>

</div>